.magnification {
  display: flex;
  flex-direction: column;
  border: 1px solid #13121a;
  width: 100%;
  border-left: 0;
  border-right: 0;
}

.upper {
  height: 5px;
  background: rgba(14, 14, 14, 0.7);
}

.lower {
  background-color: #0f2b3a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #80ef99;
  font-size: 1rem;
  font-family: "lores-12";
  height: 100%;
}
